* {
    background-color:       transparent;
    border-color:           #1abc9c;
    text-color:             #cad2d3;
    faded-text-color:       #bdc3c7;
    normal-background:      #2c3e50;
    alternate-background:   #34495e;
    selected-background:    #0f705d;
    active-background:      #391b45;
    preview-background:     #000000;
    scrollbar-handle-color: #7f8c8d;
    placeholder-color:      #7f8c8d;
    separator-color:        #95a5a6;
}
